{% extends "templates/base.html" %} {% block main %}
<script type="text/javascript">
(function() {
  sessionStorage.setItem('cursor_cl', '{{ cursor_cl }}');
  sessionStorage.setItem('cursor_sub', '{{ cursor_sub }}');
})();
</script>
<div class="container">
  <div class="row">
    <div class="span7">
      <div class="row">
        <div class="span7">
          <ul class="nav nav-tabs">
            <li><a href="#subscriptions" data-toggle="tab">Subscriptions</a></li>
            <li><a href="#mylists" data-toggle="tab">My Lists</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="span7">
          <div class="tab-content">
            <div id="subscriptions" class="tab-pane active">
              {% for sub in subs %}
              <div class="row">
                <div class="span1">
                  <input type="checkbox" />
                </div>
                <div class="span5">
                  <a onclick='showEntity("{{sub.key()}}");' href='#'>
                    {{sub.source.title}}</a>
                </div>
                <div class="span1">{% if sub.progress == None %} 0% {%
                  else %} {{sub.progress}}% {% endif %}</div>
              </div>
              {% endfor %}
              <div class="row">
                <div class="span1"></div>
                <div class="span6" id="more_subs">
                  {% if more_subs %} <a class="btn">More</a> {% endif %}
                </div>
              </div>
            </div>
            <div id="mylists" class="tab-pane">
              <div class="row">
                <div class="span7">
                  <input placeholder="Enter new list name to create"
                    style="width: 100%" id="create_cl_input"
                    onkeypress='{if (event.keyCode == 13) {create_cl()}}' />
                </div>
              </div>
              {% for cl in checklists %}
              <div class="row" id="{{ cl.key() }}_listing">
                <div class="span1">
                  <input type="checkbox" />
                </div>
                <div class="span5">
                  <a onclick='showEntity("{{cl.key()}}");' href='#'>{{
                    cl.title }}</a>
                </div>
                <div class="span1">{{ subs_by_cl[loop.index0]|length }}+</div>
              </div>
              {% endfor %}
              <div class="row">
                <div class="span1"></div>
                <div class="span6" id="more_mylists">
                  {% if more_cls %} <a class="btn">More</a> {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="span5">
      <ul class="nav nav-tabs">
        <li><a href="#cl_details" data-toggle="tab">Details</a></li>
        <li><a href="#cl_subscribers" data-toggle="tab">Subscribers</a></li>
      </ul>
      <div class="tab-content">
        <div id="cl_details" class="tab-pane active">
          {% for cl in checklists %}
          <div id="{{ cl.key() }}_side_details" class="hide well">
            <div class="row">
              <div class="span2">Title</div>
              <div class="span3 edit_list" id="{{ cl.key()}}_title">{{
                cl.title }}</div>
            </div>
            <div class="row">
              <div class="span2">Public</div>
              <div class="span3 edit_list_select" id="{{ cl.key() }}_public">
                {% if cl.public %} Yes {% else %} No {% endif %}</div>
            </div>

            <div class="row">
              <div class="span2">Description</div>
            </div>
            <div class="row">
              <div class="span5 ">
                <pre class="edit_list_area" id="{{ cl.key()}}_description">{{ cl.description }}</pre>
              </div>
            </div>
            <div class="row">
              <div class="span2">Subscribe Link</div>
              <div class="span5 ">
                <script type="text/javascript">
                  document.write(window.location.origin + "/cl/subscribe/{{ cl.key().id() }}");
                </script>
              </div>
            </div>
            <div class="row">
              <div class="span5">
                <a class="btn btn-primary" href="/cl/{{cl.key().id()}}">Open</a>
                <a class="btn btn-danger " href="#"
                  onclick='delete_cl("{{ cl.key() }}")'>Delete</a>
              </div>
            </div>
          </div>
          {% endfor %} {% for sub in subs %}
          <div id="{{ sub.key() }}_side_details" class="hide well">
            <div class="row">
              <div class="span2">Title</div>
              <div class="span3">{{ sub.source.title }}</div>
            </div>
            <div class="row">
              <div class="span2">Description</div>
            </div>
            <div class="row">
              <div class="span5">
                <pre>{{ sub.source.description }}</pre>
              </div>
            </div>
            <div class="row">
              <div class="span5">
                <a class="btn btn-primary" href="/sub/{{sub.key().id()}}">Open</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div id="cl_subscribers" class="tab-pane">
          {% for cl in checklists %}
          <div id="{{ cl.key() }}_side_sub" class="hide well">
            {% if subs_by_cl[loop.index0]|length != 0 %}
            <div class="row">
              <div class="span4">Subscriber</div>
              <div class="span1">Progress</div>
            </div>
            {% for sub in subs_by_cl[loop.index0] %}
            <div class="row">
              <div class="span4">
                <a href="/sub/{{sub.key().id()}}"> {{sub.user.nickname()}}</a>
              </div>
              <div class="span1">{% if sub.progress != None %} {{
                sub.progress }}% {% else %} 0% {% endif %}</div>
            </div>
            {% endfor %} {% else %} {{cl.title}} has no subscribers. {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
