<!--  this should be in sync with dashboard_items.html -->
<div class="row" id="{{ item.key() }}_listing">
  <div class="span1">
    <input type="checkbox" />
  </div>
  <div class="span6">
    <a onClick='showEntity("{{item.key()}}");' href='#'>{{ item.title }}</a>
  </div>
</div>

<div id="{{ item.key() }}_side_details" class="hide">
  <div class="row">
    <div class="span2">Title</div>
    <div class="span3 edit_item" id="{{ item.key()}}_title">{{ item.title
      }}</div>
  </div>
  <div class="row">
    <div class="span2">Difficulty</div>
    <div class="span3 edit_item_difficulty_select"
      id="{{ item.key() }}_difficulty">{% if item.difficulty == 1 %} Easy
      {% elif item.difficulty == 2 %} Medium {% elif item.difficulty == 3 %}
      Hard {% endif %}</div>
  </div>
  <div class="row">
    <div class="span2">Description</div>
  </div>
  <div class="row">
    <div class="span5">
      <pre class="edit_item_area" id="{{ item.key()}}_description">{{ item.description }}</pre>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="span5">
      <a class="btn btn-danger " href="#"
        onclick='delete_item("{{ item.key() }}")'>Delete</a>
    </div>
  </div>
</div>

<script type="text/javascript" class="editable_script">
$(document).ready(function() {
  $('.edit_item').editable(window.location.origin + '/edit/itemdashboard', {
    indicator : 'Saving',
    tooltip : 'Click to edit',
    submit: 'Save',
    cancel: 'Cancel',
  });
  $('.edit_item_area').editable(window.location.origin + '/edit/itemdashboard', {
    indicator : 'Saving',
    tooltip : 'Click to edit',
    type : 'textarea',
    cancel: 'Cancel',
    submit: 'Save',
    style: 'inherit',
  })  
  $('.edit_item_difficulty_select').editable(window.location.origin + '/edit/itemdashboard', {
    data : '{"3" : "Hard", "2" : "Medium", "1" : "Easy"}',
    type : 'select',
    submit: 'Save',
    cancel: 'Cancel',
  });    
})
</script>
