{% extends "templates/base.html" %} {% block main %}
<script type="text/javascript">
(function() {  
  sessionStorage.setItem('cursor_subItem', '{{ cursor_subItem }}');  
  sessionStorage.setItem('sub_key', '{{sub.key()}}');
})();
</script>
<div class="container">
  <div class="row">
    <div class="span12">
      <h2>{{ sub.source.title }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <pre class="description">{{ sub.source.description }}</pre>
    </div>
  </div>
  {% for subItem in subItems %}
  <div class="row" id="{{ subItem.key() }}_listing">
    <div class="span12">
      <div class="row">
        <div class="span12 title">
          {% if user == sub.user %}
          {% if subItem.finished %} 
          <input
            type="checkbox" checked="checked" id="{{ subItem.key() }}_checkbox"
            onclick='toggleComplete("{{subItem.key()}}", this, "{{ subItem.original.title }}")' />
          {% else %} 
          <input type="checkbox" id="{{ subItem.key() }}_checkbox"
            onclick='toggleComplete("{{ subItem.key() }}", this, "{{ subItem.original.title }}")' />
          {% endif %} {% endif %}
          <span id="{{ subItem.key() }}_title">
            {% if subItem.finished %} 
            <s><h4 class="inline">{{
                  subItem.original.title }}</h4></s>
          {% else %} 
          <h4 class="inline">{{
                subItem.original.title }}</h4> 
            {% endif %}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          {% if subItem.original.description %}
          <pre class="description">{{ subItem.original.description }}</pre>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %} {% if more_subs %}
  <div class="row">
    <div class="span12" style="text-align: center">
      <a id="more_mysubItems">--- load more ---</a>
    </div>
  </div>
  {% endif %} {% if user == sub.user %}
  <div class="row">
    <div class="span12">
      <a class="btn right_button"
        onclick='(function(){r = confirm("Are you sure you want to unsubscribe?"); if (r==true) {subscribe("{{ sub.source.key().id() }}", false, "/");}})()'
        onmouseover='$(this).toggleClass("btn-danger", true)'
        onmouseout='$(this).toggleClass("btn-danger", false)'>Unsubscribe</a>
    </div>
  </div>
  {% endif %}
</div>

{% endblock main %}
